PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/netrotrack?schema=public"
JWT_ACCESS_SECRET="default_access_secret_for_development_purposes_only_32_chars"
JWT_REFRESH_SECRET="default_refresh_secret_for_development_purposes_only_32_chars"
LOG_LEVEL=debug

# Cloudflare R2 Config
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
