PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/netrotrack?schema=public"
JWT_ACCESS_SECRET="default_access_secret_for_development_purposes_only_32_chars"
JWT_REFRESH_SECRET="default_refresh_secret_for_development_purposes_only_32_chars"
LOG_LEVEL=debug
